aside {
    display: flex;
    flex-direction: column;
    padding: 1px;

    div {
        padding: 11px;
        display: flex;
        flex-direction: column;
        gap: 5px;
        border-bottom: 1px solid black;
    }

    p {
        width: 70%;
    }
}